.ant-btn-link {
  color: $color-blue-normal;
}
.content__com {
  padding: 30px 20%;
  &.full {
    padding-right: 0;
    padding-left: 0;
  }
  min-height: 300px;
}
.content__wrap {
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.product_list__com {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  margin-top: 30px;
  padding: 10px;
}
