.basket_wg {
   margin-top: 20px;
   margin-bottom: 15px;
}
.checkoutBtn {
   margin-top: 20px;
}
.action {
   display: flex;
   justify-content: flex-end;
}
.total {
   font-size: 18px;
   text-align: end;
   margin-top: 15px;
}
