.layout_container_wrap {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  background: $color-medium-grey;
  width: 200px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black;
  &:hover {
    color: $color-black;
  }
}
.block_flex {
  display: flex;
  gap: 30px;
  margin-right: 40px;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
